<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>desc</key>
		<string>uses of UIButton</string>
		<key>icon</key>
		<string>21.jpg</string>
		<key>name</key>
		<string>UIButton</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>uses of UISlider</string>
		<key>icon</key>
		<string>22.jpg</string>
		<key>name</key>
		<string>UISlider</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>uses of UIPageControl</string>
		<key>icon</key>
		<string>23.jpg</string>
		<key>name</key>
		<string>UIPageControl</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>uses of UISwitch</string>
		<key>icon</key>
		<string>24.jpg</string>
		<key>name</key>
		<string>UISwitch</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>uses of  UISegmentedControl</string>
		<key>icon</key>
		<string>25.jpg</string>
		<key>name</key>
		<string>UISegmentedControl</string>
	</dict>
	<dict>
		<key>desc</key>
		<string>uses of UITextfield</string>
		<key>icon</key>
		<string>26.jpg</string>
		<key>name</key>
		<string>UITextField</string>
	</dict>
</array>
</plist>
