<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>田雨橙 Cindy</string>
		<key>phoneNum</key>
		<string>18749620777</string>
		<key>portrait</key>
		<string>cindy.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>陆雨萱 bell</string>
		<key>phoneNum</key>
		<string>187343522990</string>
		<key>portrait</key>
		<string>beier.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>王诗龄 angla</string>
		<key>phoneNum</key>
		<string>18732432234</string>
		<key>portrait</key>
		<string>angel.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>张悦轩 天天</string>
		<key>phoneNum</key>
		<string>18623467453</string>
		<key>portrait</key>
		<string>tiantian.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>林嘉荣（小小志）Kimi</string>
		<key>phoneNum</key>
		<string>15753923900</string>
		<key>portrait</key>
		<string>kimi.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>杨文昌 杨阳洋</string>
		<key>phoneNum</key>
		<string>13678478907</string>
		<key>portrait</key>
		<string>yangyang.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>郭子睿 石头</string>
		<key>phoneNum</key>
		<string>12793435466</string>
		<key>portrait</key>
		<string>shitou.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>曹华恩 Grace</string>
		<key>phoneNum</key>
		<string>16834455435</string>
		<key>portrait</key>
		<string>jiejie.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>黄忆慈 多多</string>
		<key>phoneNum</key>
		<string>13456896554</string>
		<key>portrait</key>
		<string>duoduo.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>曹三丰 Joe</string>
		<key>phoneNum</key>
		<string>17834354354</string>
		<key>portrait</key>
		<string>joe.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>吴费曼 Feyman</string>
		<key>phoneNum</key>
		<string>17835435465</string>
		<key>portrait</key>
		<string>feyman.jpg</string>
	</dict>
</array>
</plist>
