<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>枫叶</string>
	<string>薰衣草中的美女</string>
	<string>一心一意</string>
	<string>美少女战士</string>
	<string>薰衣草中的天使</string>
	<string>幸福恋人</string>
	<string>cure baby</string>
	<string>郎才女貌</string>
	<string>美少女施展魔法，世界变的更美丽</string>
	<string>冥思的美少女</string>
	<string>梦幻世界的美少女</string>
	<string>窗前观赏雪景</string>
	<string>长发飘飘美少女</string>
	<string>天使到来</string>
</array>
</plist>
